name: Sonar Analysis Workflow

on:
  push:
    branches:
      - master
      - development
  pull_request:
    types: [opened, synchronize, reopened]

  workflow_dispatch:

jobs:
  sonar:
    uses: singnet/InfoSec/.github/workflows/sonar.yml@master
    secrets: inherit
